@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #e50914; /* vermelho DrakNinja */
  --panel: #111111;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #e50914;
    --panel: #111111;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
